@use "utilities/styles";

body {
	margin: 0;
	font-family: "Palanquin", "Roboto", "Fira Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Other main font being used:
// font-family: 'Roboto', sans-serif;

code {
	font-family: "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas,
		"Courier New", monospace;
}
